{% extends 'index.html' %}

{% block nav %}
<nav class="nav"><br>
    {{ tag.tag_info }}
</nav>
{% endblock %}

{% block content %}
    <div class="content pure-u-1 pure-u-md-3-4">
            <div class="posts">
                <h2 style="color: #777777" class="under">{{ site.title }}</h2>
            </div>
            <h2><b>{{ site.subtitle }}</b></h2>
            <p>{{ site.caption }}</p>
            {% if site.thumbnail %}
                <img alt="{{ site.thumbnail.tag }}" src="{{ site.thumbnail.attach.url }}">
            {% endif %}

            <div class="index_box">
                <span>目次</span>
                {% for foo in contents %}
                     <li><a>{{ foo.index }}</a></li>
                {% endfor %}
            </div>
            {% for foo in contents %}
                <div class="posts">
                    <h3 style="color: #777777" class="under">{{ foo.index }}</h3>
                </div>
                {% if foo.image %}
                    <img alt="{{ foo.index }}" src="{{ foo.image.attach.url }}">
                {% endif %}
                <div>
                    <p>{{ foo.content }}</p>
                </div>
            {% endfor %}


    </div>
{% endblock %}